<%= content_for(:title, "Users") %>

<div class="row">
    <div class="col-sm-10">
        <%= link_to 'Create User', new_user_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-2">
      <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%= link_to "Level UP", "#", class: "dropdown-item user-action", data: {form: "form_e1"} %>
            <%= form_tag({controller: 'users', action: 'set_level_up'}, method: :post, id: 'form_e1') do %>
              <%= hidden_field_tag :user_ids %>
            <% end %>
            <%= link_to "Hit Against Wall", "#", class: "dropdown-item user-action", data: {form: "form_e2"} %>
            <%= form_tag({controller: 'users', action: 'set_hit_against_wall'}, method: :post, id: 'form_e2') do %>
              <%= hidden_field_tag :user_ids %>
            <% end %>
          </div>
        </div>
    </div>
</div>

<div class="table-responsive" style="overflow-x:hidden;">
    <table class="table table-striped">
        <thead>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Type</th>
            <th></th>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= check_box_tag("select", user.id, false) %></td>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.gender %></td>
                <td><%= user._type %></td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <%= button_to('Level Up', {action: 'level_up', method: :post, id: user.id}, class: "btn") %>
                    </div>
                    <div class="col-sm-4">
                      <%= button_to('Hit Against Wall', {action: 'hit_against_wall', method: :post, id: user.id}, class: "btn btn-danger") %>
                    </div>
                    <div class="col-sm-4">
                      <%= link_to('Edit', send("edit_#{user._type.downcase}_path", user.id)) %>
                    </div>
                  </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
